@charset "UTF-8";
/*==============================
MEDIA QUERY
0 - 600px:  sp
600- 767px: s-tab
768- 959px:  tab
960px -    : pc
==============================*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Neue Haas Grotesk Text Pro", "平成角ゴシック Std";
  font-size: 1.4rem;
  line-height: 1.5em;
  color: #333;
}

a {
  transition: all 0.5s;
}
a:hover {
  opacity: 0.7;
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: normal;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.l-content-wrapper {
  width: 100%;
  height: 100vh;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  display: grid;
  grid-template-rows: 88px auto 42px;
}

@media screen and (max-width: 900px) {
  .l-content-wrapper {
    grid-template-rows: 82px auto 76px;
  }
}
.l-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .l-footer {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
}
.l-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: relative;
}

.l-header-nav {
  width: 544px;
  margin-left: auto;
}

.l-header-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.l-header-nav__item--en {
  font-size: 1.3rem;
  color: #0C162C;
}
.l-header-nav__item--ja {
  font-size: 1.6rem;
  color: #192F60;
}

.l-header-nav__contact {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 80px;
  background-color: #20868A;
  color: #fff;
}

.l-main {
  padding-bottom: 40px;
}

@media screen and (max-width: 900px) {
  .l-main {
    padding-bottom: 80px;
  }
}
.c-tel-number--header {
  color: #192F60;
  text-align: center;
  margin: 15.5px 130px 15.5px 40px;
}

.c-tel-number__tel--header {
  letter-spacing: 0.1em;
  margin-top: 4px;
  font-size: 2.4rem;
}
.c-tel-number__tel--header i {
  font-size: 2rem;
}

.c-tel-number__hours--header {
  margin-top: 2px;
  margin-left: 12px;
  font-size: 1.6rem;
}

.c-tel-number--fv {
  width: 240px;
  height: 56px;
  color: #fff;
  background-color: #192F60;
  text-align: center;
  padding: 4px 14px;
  position: absolute;
  left: 120px;
  top: 513px;
}

.c-tel-number__tel--fv {
  letter-spacing: 0.1em;
  margin-top: 4px;
  font-size: 2.4rem;
}
.c-tel-number__tel--fv i {
  font-size: 2rem;
}

.c-tel-number__hours--fv {
  margin-top: 2px;
  margin-left: 12px;
  font-size: 1.6rem;
}

.c-contact-btn--fv {
  width: 240px;
  height: 56px;
  color: #fff;
  background-color: #20868A;
  font-size: 1.6rem;
  text-align: center;
  line-height: 48px;
  padding: 4px 16px;
  position: absolute;
  left: 440px;
  top: 513px;
  position: relative;
}

.c-contact-btn__arrow {
  margin-left: 8px;
}

.p-fv {
  max-width: 100%;
  height: 680px;
  background-image: url(../img/fv-img01.png);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.p-fv__copy {
  font-size: clamp(2.2rem, -2.686rem + 8.69vw, 6rem);
  font-weight: bold;
  color: #192F60;
  background-color: #fff;
  padding: 13px 16px;
  position: absolute;
  left: 120px;
  line-height: 1;
}
.p-fv__copy--l1 {
  top: 180px;
  letter-spacing: 0.16em;
}
.p-fv__copy--l2 {
  top: 275px;
}

.p-fv__copy--l3 {
  font-size: clamp(1.4rem, 0.8rem + 1.07vw, 1.6rem);
  font-weight: bold;
  color: #192F60;
  background-color: #fff;
  position: absolute;
  left: 120px;
  line-height: 1;
  padding: 13px 16px;
  top: 390px;
}

.p-fv-news {
  width: 100%;
  height: 80px;
  padding-left: 40px;
  margin-left: 120px;
  background-color: #fff;
  opacity: 0.95;
  position: absolute;
  top: 650px;
  display: flex;
  line-height: 80px;
}

.p-fv-news__title {
  color: #192F60;
  font-size: 2.2rem;
  position: relative;
  margin-right: 140px;
}
.p-fv-news__title::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 24px;
  background-color: #192F60;
  position: absolute;
  top: 28px;
  right: -22px;
}

.p-fv-news__date {
  margin-right: 32px;
  font-size: 1.6rem;
}

.p-fv-news__article {
  font-size: 1.6rem;
  text-decoration: underline;
}

.p-concept {
  background-image: url(../img/concept-bg.png);
  background-repeat: no-repeat;
  height: 676px;
}

.u-font--xsmall {
  font-size: 1.3rem;
}

.u-font--small {
  font-size: 1.4rem;
}

.u-font--middle {
  font-size: 1.6rem;
}

.u-font--large {
  font-size: 2rem;
}

.u-font--xlarge {
  font-size: 2.4rem;
}

.u-font--xxlarge {
  font-size: 2.8rem;
}

.u-position--center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-width--max1260 {
  max-width: 1260px;
  margin: 0 auto;
}

.u-width--max1140 {
  max-width: 1140px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
