@use '../../global/index' as global;

// ------------------------------------------------
// お問い合わせ　ファーストビュー
// ------------------------------------------------

.c-contact-btn--fv {
  width: 240px;
  height: 56px;
  color: global.$white;
  background-color: global.$green;
  font-size: global.$font-middle;
  text-align: center;
  line-height: 48px;
  padding: 4px 16px;
  // margin: 15.5px 130px 15.5px 40px;
  position: absolute;
  left: 440px;
  top: 513px;
  position: relative;

}

.c-contact-btn__arrow {
  margin-left: 8px;
}