@use '../../global/index' as global;

// ------------------------------------------------
// お問い合わせ 
// ------------------------------------------------
.c-contact-btn {
  width: 240px;
  height: 56px;
  color: global.$white;
  background-color: global.$green;
  font-size: global.$font-middle;
  text-align: center;
  line-height: 48px;
  padding: 4px 16px;



// ------------------------------------------------
// FV用
// ------------------------------------------------
  &--fv {
    position: absolute;
    left: 430px;
    top: 513px;
  }



// ------------------------------------------------
// CTA用
// ------------------------------------------------
  &--cta {
    margin-left: 80px;
  }
}



// ------------------------------------------------
// ボタン内矢印
// ------------------------------------------------
.c-contact-btn__arrow {
  margin-left: 8px;
}