@use '../../global/index' as global;

.u-mt40 {
  margin-top: 40px;
}
.u-mt80 {
  margin-top: 80px;
}

.u-mb16 {
  margin-bottom: 16px;
}
.u-mb40 {
  margin-bottom: 40px;
}
.u-mb80 {
  margin-bottom: 80px;
}