/*==============================
MEDIA QUERY
0 - 600px:  sp
600- 767px: s-tab
768- 959px:  tab
960px -    : pc
==============================*/
@mixin respond($breakpoint) {
  @if $breakpoint == sp {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  
  @if $breakpoint == s-tab {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == tab {
    @media only screen and (max-width: 959px) {
      @content;
    }
  }

  @if $breakpoint == pc {
    @media only screen and (min-width: 960px) {
      @content;
    }
  }
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

