@use '../../global/index' as global;

// ------------------------------------------------
// コンセプト
// ------------------------------------------------
.p-concept {
  background-image: url(../img/concept-bg.png) ;
  background-repeat: no-repeat;
  height: 676px;
}